= render 'shared/mailchimp'
%footer.footer
  .container
    .row
      .col-lg-3.company
        = link_to (image_tag 'logo_mashpaddle_white.png', id: 'logo'), root_path
        .div.czig-font.white
          .div
            Brewing
            %br
            Company
      .col-lg-5.col-lg-offset-1.center.info
        .row
          %p
            Craft production brewery in Hackettstown, NJ, serving a rotating selection of beers year round.
        .row
          .social
            %a{ href: 'https://www.beeradvocate.com/beer/profile/41928/', target: '_blank' }
              = image_tag 'icon_beeradvocate.png'
            %a{ href: 'https://www.facebook.com/CzigMeister/', target: '_blank' }
              %i{ class: 'fa fa-facebook-square' }
            %a{ href: 'https://www.instagram.com/czigmeister/', target: '_blank' }
              %i{ class: 'fa fa-instagram' }
            %a{ href: 'http://www.ratebeer.com/brewers/czig-meister-brewing-company/27500/', target: '_blank' }
              = image_tag 'icon_ratebeer.png'
            %a{ href: 'https://twitter.com/czigmeister', target: '_blank' }
              %i{ class: 'fa fa-twitter' }
            %a{ href: 'https://untappd.com/czigmeister', target: '_blank' }
              = image_tag 'icon_untappd.png'
        .row#copyright
          Czig Meister Brewing LLC, &copy; 2016
      .col-lg-3.col-lg-offset-1.center.contacts
        %h3 Contact Us
        %p
          106 Valentine Street
          %br
          Hackettstown, NJ 07840
        %p
          908-651-5492
