%header.czig-font{ 'data-offset-top': 100, 'data-stuck': 200 }
  .container
    .row
      #logo
        = link_to (image_tag 'logo_namewithchevron.png'), root_path
      #title
        Brewing Company
      %nav.menu.czig-font.red
        %ul.main
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Beers', beers_path
          %li.has-submenu
            = link_to 'Brewery', brewery_path
            %ul.submenu
              %li
                = link_to 'About Us', about_us_path
              %li
                = link_to 'Tasting Room', tasting_room_path
          %li
            = link_to 'FAQ', faq_path
          %li
            = link_to 'Contact', contact_path
      .menu-toggle
        %i.fa.fa-list
      .mobile-border
        %span

