.container
  %h1.center.czig-font.red Year Round Beers
  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font
        The Blacksmith
      %h4.czig-font
        OATMEAL STOUT - 5.5% ABV / 35 IBU
      %h4.czig-font
        EUROPEAN ROASTED MALTS/NORTH AMERICAN OATS/EUROPEAN HOPS/ ENGLISH ALE YEAST
      %p
        This Oatmeal stout has more flavor then you would expect for its lower ABV. Coffee, chocolate and slight smoke flavors come through from the roasted malts. The oatmeal contributes a big body to this malt forward dark brew.
    .col-md-3.center
      = image_tag 'tap_blacksmith.png'

  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font
        The Falconer
      %h4.czig-font
        AMERICAN PALE ALE - 4.9% ABV / 48 IBU
      %h4.czig-font
        VIENNA MALT BASE/AMERICAN HOPS/GERMAN KOLSCH YEAST
      %p
        This pale ale is more of a session IPA. We bumped up the malt flavor to compensate for the lower ABV. Hop flavor is the focus with Falconers Flight hops being the main aroma in the end. This fruity/citrusy pale ale is brewed with a German Kolsch yeast to round out the malt flavor and promote the hop aromas.
    .col-md-3.center
      = image_tag 'tap_falconer.png'
  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font
        The Hunstman
      %h4.czig-font
        GERMAN STYLE KOLSCH - 4.8% ABV / 21 IBU
      %h4.czig-font
        GERMAN PILSNER MALTS/GERMAN HOPS/GERMAN KOLSCH YEAST
      %p
        This Kolsch is dry, lean, clean-tasting and crisp. Flavors are subtle, with no traditional beer ingredient dominating the others. A slight grainy flavor can be tasted in the back-end. Hop character (bitterness, flavor, and aroma) ranges from negligible to a dry bitterness from noble hops. The main ingredients are Pilsner malt and German noble hops specifi- cally Hallertauer Hersbrucker. A traditional German Kolsch yeast is used.
    .col-md-3.center
      = image_tag 'tap_huntsman.png'
  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font
        The Prospector
      %h4.czig-font
        AMBER ALE - 5.2% ABV / 25 IBU
      %h4.czig-font
        ENGLISH CARAMEL MALTS/EUROPEAN HOPS/ENGLISH ALE YEAST
      %p
        Of British origin, this beer has a good balance of malt and hops. Fruity esters and a cara- mel malt backbone are the first things you will notice. Hop bitterness is light and balances out the overall sweetness of this beer. The hops come through with some spicy notes.
    .col-md-3.center
      = image_tag 'tap_prospector.png'
  %h1.center.czig-font.red Seasonal Beers
  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font
        Seasonal - IPA
      %h4.czig-font
        INDIA PALE ALE - 6.6% ABV / 77 IBU
      %h4.czig-font
        GERMAN PILSNER MALTS/AMERICAN AND AUSTRALIAN HOPS/ENGLISH ALE YEAST
      %p
        A citrusy/tropical fruity hop forward IPA. This beer has your American citrusy/grapefruit hops in the boil with Australian galaxy hops used for dry hopping. There is enough malt to carry the hop flavor but not too much to over power it.
    .col-md-3.center
      = image_tag 'tap_spring.png'
  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font
        Seasonal - Saison
      %h4.czig-font
        BELGIAN STYLE SAISON - 4.5% ABV / 15 IBU
      %h4.czig-font
        GERMAN PILSNER MALT/EUROPEAN HOPS/BELGIAN SAISON YEAST
      %p
        Light bodied, straw colored ale. Has a dry finish with cracked peppery notes.
    .col-md-3.center
      = image_tag 'tap_summer.png'
  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font
        Seasonal - Hefeweizen
      %h4.czig-font
        GERMAN STYLE HEFEWEIZEN - 5.0% ABV / 13 IBU
      %h4.czig-font
        GERMAN PALE AND WHEAT MALTS/GERMAN NOBAL HOPS/GERMAN HE- FEWIEZEN YEAST
      %p
        Medium bodied light colored ale. Flavors of banana and cloves from the yeast.
    .col-md-3.center
      = image_tag 'tap_summer.png'
  %h1.center.czig-font.red Past Beers
  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font
        Forge Batch 3.1 - British Mild
      %h4.czig-font
        BRITISH MILD - 3.5% ABV / 14 IBU
      %h4.czig-font
        NORTH AMERICAN PALE MALTS/ENGLISH HOPS/ENGLISH ALE YEAST
      %p
        Your typical old world British Pub Ale. Very sessionable ale. Could be described as a light brown ale. Light caramel and roasted notes.
    .col-md-3.center
      = image_tag 'tap_forge_3.1.png'
  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font
        Forge Batch 4.1 - IPA
      %h4.czig-font
        INDIA PALE ALE - 7.1% ABV / 72 IBU
      %h4.czig-font
        GERMAN PILSNER MALT/EUROPEAN HOPS/BELGIAN SAISON YEAST
      %p
        This is a single hopped IPA with German Merkur hops. This is the first time we’re using these hops. We expect subtle pineapple and mint flavors to come through.
    .col-md-3.center
      = image_tag 'tap_forge_4.1.png'
