%section#home-gallery
  .master-slider.ms-skin-default#home-masterslider
    .ms-slide
      = image_tag 'home_01.jpg'
    .ms-slide
      = image_tag 'home_02.jpg'
    .ms-slide
      = image_tag 'home_03.jpg'
    .ms-slide
      = image_tag 'home_04.jpg'
    .ms-slide
      = image_tag 'home_05.jpg'
.container.content
  %h1.czig-font.black.center Welcome to the Czig Meister Brewery!
  .row
    .col-md-10.col-md-offset-1
      %p
        Czig Meister Brewery is a production craft brewery with an old-world style tasting room and a beautiful outdoor biergarten. Once a Ford repair shop, this huge space was transformed into a brewery. The brewery has a 15-barrel craft brewery system. This system is where brewmaster Matthew makes his four year-round beers and his seasonal beers. There is also a pilot system where the single keg forge batches are made.
      = image_tag 'home_06.jpg', id: 'home-brewery'
%section.posts-widget
  .tw-bg
  .container
    .row
      .col-lg-8.col-md-8.latest-posts
        .row
          .col-lg-7
            %h1.czig-font.white
              Beers On Tap
            %p
              Come check out our 4 year-round sessionable yet flavorful beers, an assortment of seasonal beers, and an ever changing list of one-off small-batch specialty brews! Click the link below for more information:
            %h1.bold
              = link_to 'Our Beer List', beers_path, id: 'beer-list'
          .col-lg-5
            = link_to (image_tag 'home_07.jpg', id: 'home-beer'), beers_path
      .col-lg-4.col-md-4.twitter-feed
        %h1.czig-font.white
          Hours We're Open
        %h3
          Thursday: 3pm to 10pm
        %h3
          Friday: 3pm to 10pm
        %h3
          Saturday: 12pm to 10pm
        %h3
          Sunday: 12pm to 6pm

.container.content
  %h2.czig-font.red Upcoming Events
  .event
    %h3.czig-font.black 09/09: Circle Lanes Tap Takeover (Ledgewood)
    = link_to 'http://www.circlelanesonline.com/index.html', 'http://www.circlelanesonline.com/index.html'
  .event
    %h3.czig-font.black 09/13: 381 Main Tap Takeover (Little Falls)
    = link_to 'http://www.381main.com/current_events/mtb_tuesdays.html', 'http://www.381main.com/current_events/mtb_tuesdays.html'
  .event
    %h3.czig-font.black 09/14: Cork City Tap Takeover (Hoboken) 7pm-9pm
    = link_to 'http://www.corkcitypub.com/bluto/sites/club/events.asp', 'http://www.corkcitypub.com/bluto/sites/club/events.asp'
  .event
    %h3.czig-font.black 09/15: Mohawk House Tap Takeover (Sparta)
    = link_to 'http://www.mohawkhouse.com/event/czig-meister-takes-over-mohawk-house/', 'http://www.mohawkhouse.com/event/czig-meister-takes-over-mohawk-house/'
  .event
    %h3.czig-font.black 09/21: O’Reilly’s Pub & Grill Tap Takeover (Newton)
    = link_to 'http://oreillysnewton.com/events/', 'http://oreillysnewton.com/events/'
  .event
    %h3.czig-font.black 09/24: Garden State Brew Fest (Whippany) 12pm-5pm
    = link_to 'http://gardenstatebrewfest.com/', 'http://gardenstatebrewfest.com/'
  .event
    %h3.czig-font.black 09/29: Station Bar & Grill Name That Tune Event (Garwood) 8pm-10pm
    = link_to 'http://www.thestationbarandgrill.com/', 'http://www.thestationbarandgrill.com/'
  .event
    %h3.czig-font.black 09/30: Midland Brew House Tap Takeover (Saddle Brook)
    = link_to 'http://www.midlandbrewhouse.com/', 'http://www.midlandbrewhouse.com/'
  .event
    %h3.czig-font.black 10/01: Ales & Tails Brew Fest at Turtle Back Zoo (West Orange)
    = link_to 'http://www.visitnj.org/nj-events/ales-tails-brew-fest-essex-county-parks-foundation-fundraiser', 'http://www.visitnj.org/nj-events/ales-tails-brew-fest-essex-county-parks-foundation-fundraiser'
  .event
    %h3.czig-font.black 10/01: Hackettstown LIVE Outdoor Concert Series (at the brewery) 12pm-8pm
  .event
    %h3.czig-font.black 10/01: The Big Brew Beer Festival (Morristown) 12pm-4pm, 5:30pm-9:30pm
    = link_to 'http://bigbrewnj.com/morristown/', 'http://bigbrewnj.com/morristown/'
  .event
    %h3.czig-font.black 10/04: Cloverleaf Tavern Tap Takeover (Caldwell)
    = link_to 'http://www.cloverleaftavern.com/events/', 'http://www.cloverleaftavern.com/events/'
  .event
    %h3.czig-font.black 10/05: Capital Craft Tap Takeover (Green Brook)
    = link_to 'http://capitalcraftnj.com/', 'http://capitalcraftnj.com/'
  .event
    %h3.czig-font.black 10/06: Moonshine Modern Supper Club (Millburn)
    = link_to 'http://www.moonshinesupperclub.com/', 'http://www.moonshinesupperclub.com/'
  .event
    %h3.czig-font.black 10/08: Hackettstown Oktoberfest (at the brewery)
  .event
    %h3.czig-font.black 10/20: Panther Pub 5 Beer Dinner Pairing (Allamuchy)
    = link_to 'http://www.panther-pub.com/', 'http://www.panther-pub.com/'
  .event
    %h3.czig-font.black 10/29: Czig Meister Halloween Celebration (at the brewery)
