%section#home-gallery
  .master-slider.ms-skin-default#home-masterslider
    .ms-slide
      = image_tag 'home_01.jpg'
    .ms-slide
      = image_tag 'home_02.jpg'
    .ms-slide
      = image_tag 'home_03.jpg'
    .ms-slide
      = image_tag 'home_04.jpg'
    .ms-slide
      = image_tag 'home_05.jpg'
.container.content
  %h1.czig-font.black.center Welcome to the Czig Meister Brewery!
  .row
    %p
      Czig Meister Brewery is a production craft brewery with an old-world style tasting room and a beautiful outdoor biergarten.
    %p
      Once a Ford repair shop, this huge space was transformed into a brewery. The brewery has a 15-barrel craft brewery system. This system is where brew-master Matthew makes his four year-round beers and his seasonal beers. There is also a pilot system where the single keg forge batches are made.
    = image_tag 'home_06.jpg', id: 'home-brewery'

%section.posts-widget
  .tw-bg
  .container
    .row
      .col-lg-8.col-md-8.latest-posts
        .row
          .col-lg-7
            %h1.czig-font.white
              Beers On Tap
            %p
              Come check out our 4 year-round sessionable yet flavorful beers, an assortment of seasonal beers, and an ever changing list of one-off small-batch specialty brews! Click the link below for more information:
            %h1.bold
              = link_to 'Our Beer List', beers_path, id: 'beer-list'
          .col-lg-5
            = link_to (image_tag 'home_07.jpg', id: 'home-beer'), beers_path
      .col-lg-4.col-md-4.twitter-feed
        %h1.czig-font.white
          Hours We're Open
        %h3
          Thursday: 3pm to 10pm
        %h3
          Friday: 3pm to 10pm
        %h3
          Saturday: 12pm to 10pm
        %h3
          Sunday: 12pm to 6pm

.container.content
  %h2.czig-font.red Upcoming Events
  .event
    %h3.czig-font.black 08/16: World of Beer Tap Takeover (New Brunswick) 5pm-8pm
    = link_to 'https://worldofbeer.com/Locations/NewBrunswick'
  .event
    %h3.czig-font.black 08/19: The Beer Spot & Grill Tap Takeover (Fort Lee) 5pm-2am
    = link_to 'http://www.thebeerspotandgrill.com/our-events/'
  .event
    %h3.czig-font.black 08/20: HopFest (at the brewery) 12pm-10pm
    = link_to 'https://www.facebook.com/CzigMeister/events'
  .event
    %h3.czig-font.black 08/25: NJ Breweries Night at Barcade (Jersey City) 12pm-2am
    = link_to 'http://barcadejerseycity.com/special-events/'
  .event
    %h3.czig-font.black 09/13: 381 Main Tap Takeover (Little Falls)
    = link_to 'http://www.381main.com/current_events/mtb_tuesdays.html'
  .event
    %h3.czig-font.black 09/14: Cork City Tap Takeover (Hoboken) 7pm-9pm
    = link_to 'http://www.corkcitypub.com/bluto/sites/club/events.asp'
  .event
    %h3.czig-font.black 09/15: Mohawk House Tap Takeover (Sparta) 6pm-
    = link_to 'http://www.mohawkhouse.com/event/czig-meister-takes-over-mohawk-house/'
  .event
    %h3.czig-font.black 09/21: O’Reilly’s Pub & Grill Tap Takeover (Newton)
    = link_to 'http://oreillysnewton.com/events/'
  .event
    %h3.czig-font.black 09/22: Moonshine Modern Supper Club (Millburn)
    = link_to 'http://www.moonshinesupperclub.com/'
  .event
    %h3.czig-font.black 09/24: Garden State Brew Fest (Whippany) 12pm-5pm
    = link_to 'http://gardenstatebrewfest.com/'
  .event
    %h3.czig-font.black 09/29: Station Bar & Grill Name That Tune Event (Garwood) 8pm-10pm
    = link_to 'http://www.thestationbarandgrill.com/'
  .event
    %h3.czig-font.black 09/30: Midland Brew House Tap Takeover (Saddle Brook)
    = link_to 'http://www.midlandbrewhouse.com/'
