%section#home-gallery
  .master-slider.ms-skin-default#home-masterslider
    - if (gallery = Gallery.find_by(name: 'homepage')).present?
      - gallery.photos.each do |photo|
        .ms-slide
          = image_tag photo.image.url
    - else
      .ms-slide
        = image_tag 'home_01.jpg'
      .ms-slide
        = image_tag 'home_02.jpg'
      .ms-slide
        = image_tag 'home_03.jpg'
      .ms-slide
        = image_tag 'home_04.jpg'
      .ms-slide
        = image_tag 'home_05.jpg'
.container.content
  %h1.czig-font.black.center Welcome to the Czig Meister Brewery!
  .row
    .col-md-10.col-md-offset-1
      %p
        Czig Meister Brewery is a production craft brewery with an old-world style tasting room and a beautiful outdoor biergarten. Once a Ford repair shop, this huge space was transformed into a brewery. The brewery has a 15-barrel craft brewery system. This system is where brewmaster Matthew makes his four year-round beers and his seasonal beers. There is also a pilot system where the single keg forge batches are made.
      = image_tag 'home_06.jpg', id: 'home-brewery'
%section.posts-widget
  .tw-bg
  .container
    .row
      .col-lg-8.col-md-8.latest-posts
        .row
          .col-lg-7
            %h1.czig-font.white
              Beers On Tap
            %p
              Come check out our 4 year-round sessionable yet flavorful beers, an assortment of seasonal beers, and an ever changing list of one-off small-batch specialty brews! Click the link below for more information:
            %h1.bold
              = link_to 'Our Beer List', beers_path, id: 'beer-list'
          .col-lg-5
            = link_to (image_tag 'home_07.jpg', id: 'home-beer'), beers_path
      .col-lg-4.col-md-4.twitter-feed
        %h1.czig-font.white
          Hours We're Open
        %h3
          Wednesday: 3pm to 10pm
        %h3
          Thursday: 3pm to 10pm
        %h3
          Friday: 3pm to 10pm
        %h3
          Saturday: 12pm to 10pm
        %h3
          Sunday: 12pm to 8pm
- if @events.present?
  = render 'pages/events'
